<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Playground</title>
    <style>
    body {
        width: 900px;
        margin: 0 auto;
    }

    div.box {
        outline: 1px black solid;
        width: 100px;
        height: 100px;
        margin: 10px;
        display: inline-block;
        background-color: {{color}};
    }
    </style>
</head>
<body>
    <h1 style="text-align: center;">Welcome</h1>

    {% for x in range(0,times): %}
    <div class="box"></div>
    {% endfor %}

</body>
</html>