<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Books & Authors</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'books_authors_app/css/style.css' %}">
    <script src="{% static 'books_authors_app/js/script.js' %}"></script>
</head>
<body>
    <h1>Add a Book</h1>
    <form action="/add_book" method="POST">
        {% csrf_token %}
        <p>Title: <input name="title" type="text"></p>
        <p>Description: <input name="description" type="text"></p>
        <input type="submit" name="submit" value="Add">
    </form>

    <h3>Books</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Explore</th>
            <th>Delete</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td><a href="books/{{book.id}}">View</a></td>
            <td><a href="books/{{book.id}}/delete">Delete</a></td>
        </tr>
        {% endfor %}
    </table>

    <p><a href="/authors">Add an Author</a></p>
</body>
</html>



